<div class="py-5 h-100 d-flex justify-content-center align-items-center">
  <div class="container">
    <img
      src="assets/images/bgs/401.png"
      class="img-fluid d-block mx-auto col-12 col-md-4"
      alt="401"
    />
    <h2
      class="text-align-center fw-600 text-primary"
      translate="global.not_signed"
    ></h2>
    <p
      class="text-align-center fs-6 text-info"
      translate="global.not_signed_description"
    ></p>

    <button
      type="button"
      [routerLink]="[link]"
      class="btn btn-primary text-white d-block mx-auto mt-4 rounded-8 px-4 py-2 text-capitalize"
      translate="auth.login"
    ></button>
  </div>
</div>
